.navbar {
  font-family: "Lucida Console", Monaco, monospace;
font-size: 22px;
letter-spacing: 2px;
word-spacing: 0.2px;
background-color: #6fccd6;
color: #000000;
font-weight: normal;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;
padding-bottom: 25px;
}
